@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Alex+Brush&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
  font-family: "Poppins", sans-serif;
  /* user-select: none; */
}

html,
body {
  height: 100%;
  width: 100%;
  background:#fff;
}




a.active svg {
  color: green;
}


.glass{
  background-image: linear-gradient(135deg, rgba(40, 38, 38, 0.527), rgba(64, 59, 59, 0.199));
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  /* box-shadow: 1px 1px 1px rgba(45, 44, 44, 0.218); */
  padding: 4px;
  border-radius: 10px;
}

/* Custom scrollbar for WebKit browsers (Chrome, Safari, Edge) */


.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {

  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */

}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


input,textarea{
  background-color: #fff;
}

